
/* estilos.css */
body {
    background-image: url('../img/WampassHome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #252525;
    color: #fefefe;
    
}
